.article-contact {
  display: flex;
  flex-direction: column;
  justify-self: center;
  gap: var(--s-gap, 10px);
  inline-size: 80%;
}

@media (width < 920px) {
  
  .article-contact {
    grid-row: 1;
    inline-size: 100%;
  }
}
