.button {
  border-radius: var(--btn-border-radius, 10px);
  padding: var(--xs-gap, 5px) var(--s-gap, 10px);
  font-weight: 600;
  font-size: var(--button-fs, 20px);
  background-color: transparent;
  cursor: pointer;
}

.button--filled {
  color: var(--bg-color);
  background-color: var(--light-accent-color, #d5b87c);
}

.button--bordered {
  border: 1px solid var(--light-accent-color, #d5b87c);
  color: var(--light-accent-color, #d5b87c);
  background-color: transparent;
}

.button:hover {
  box-shadow: 6px 0 16px 0 var(--light-accent-color, #d5b87c);
}

.button:focus {
  outline: none;
}

.button:focus-visible {
  outline: 1px solid var(--text-color, #c2c6dd);
  outline-offset: 2px;
}

@media (width < 920px) {

  :root {
    --button-fs: 20px;
  }
}

@media (prefers-reduced-motion: no-preference) {
  
  .button {
    transition: box-shadow .3s;
  }
}
