.button {
  border: 1px solid var(--light-accent-color, #d5b87c);
  border-radius: var(--btn-border-radius, 10px);
  padding: 10px;
  font-weight: 600;
  font-size: var(--accent-text-fs, 24px);
  background-color: transparent;
  cursor: pointer;
}

.button--filled {
  color: var(--bg-color);
  background-color: var(--light-accent-color, #d5b87c);
}

.button--bordered {
  color: var(--light-accent-color, #d5b87c);
  background-color: transparent;
}

.button:hover {
  box-shadow: 6px 0 16px 0 var(--light-accent-color, #d5b87c);
}

@media (width < 920px) {

  .button {
    font-size: var(--text-fs, 20px);
  }
}

@media (prefers-reduced-motion: no-preference) {
  
  .button {
    transition: box-shadow .3s;
  }
}
