.page {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: var(--font, 'Source Code Pro'), sans-serif;
  font-size: var(--main-fs, 16px);
  font-weight: 300;
  background-color: var(--bg-color, #02030e);
  color: var(--text-color, #c2c6dd);
}
