.page {
  color: var(--text-color, #c2c6dd);
  font-family: var(--font-main, 'Roboto'), sans-serif;
  font-weight: 400;
  font-size: var(--main-fs, 16px);
  background-color: var(--bg-color, #02030e);
}
