extends ../section/section.pug

block variables
  - var sectionName = 'about'
  - var sectionTitle = 'Обо мне'

block section-content
  .structure-wrapper__item
    p.text.
        Я создаю современные и функциональные веб-приложения любой сложности. Постоянно совершенствуюсь, слежу за последними трендами и обновлениями инструментов веб-разработки.
  .structure-wrapper__item
    p.text.
      Моя цель &mdash; создавать удобные и привлекательные интерфейсы, обеспечивающие комфортное взаимодействие пользователей с вашим продуктом.
