.menu-button {
  position: relative;
  display: none;
  justify-self: end;
  cursor: pointer;
  block-size: 24px;
  inline-size: 32px;
}

.menu-button span {
  position: absolute;
  display: block;
  opacity: 1;
  background-color: var(--text-color, #c2c6dd);
  transform: rotate(0deg);
  block-size: 4px;
  inline-size: 50%;
}

.menu-button span:nth-child(even) {
  left: 50%;
  border-radius: 0 4px 4px 0;
}

.menu-button span:nth-child(odd) {
  left: 0;
  border-radius: 4px 0 0 4px;
}

.menu-button span:nth-child(1), 
.menu-button span:nth-child(2) {
  inset-block-start: 0px;
}

.menu-button span:nth-child(3), 
.menu-button span:nth-child(4) {
  inset-block-start: 10px;
}

.menu-button span:nth-child(5), 
.menu-button span:nth-child(6) {
  inset-block-start: 20px;
}

.menu-button--open span:nth-child(1),
.menu-button--open span:nth-child(6) {
  transform: rotate(45deg);
}

.menu-button--open span:nth-child(2),
.menu-button--open span:nth-child(5) {
  transform: rotate(-45deg);
}

.menu-button--open span:nth-child(1) {
  inset-block-start: 5px;
  inset-inline-start: 3px;
}

.menu-button--open span:nth-child(2) {
  inset-block-start: 5px;
  inset-inline-start: calc(50% - 3px);
}

.menu-button--open span:nth-child(3) {
  opacity: 0;
  inset-inline-start: -50%;
}

.menu-button--open span:nth-child(4) {
  opacity: 0;
  inset-inline-start: 100%;
}

.menu-button--open span:nth-child(5) {
  inset-block-start: 15px;
  inset-inline-start: 3px;
}

.menu-button--open span:nth-child(6) {
  inset-block-start: 15px;
  inset-inline-start: calc(50% - 3px);
}


/* .menu-button:focus {
  outline: none;
}

.menu-button:focus-visible {
  outline: 1px solid currentColor;
  outline-offset: 2px;
} */

@media (width < 920px) {
  
  .menu-button {
    display: block;
  }
}

@media (prefers-reduced-motion: no-preference) {
  
  .menu-button span {
    transition: .25s ease-in-out;
  }
}
