.title--main {
  color: var(--light-accent-color, #d5b87c);
  font-family: inherit;
  font-weight: 500;
  font-size: var(--h1-fs, 64px);
  line-height: 100%;
  text-transform: capitalize;
  text-shadow: 2px 0 12px var(--light-accent-color, #d5b87c);
}