.title {
  color: var(--light-accent-color, #d5b87c);
  font-weight: 300;
  font-size: var(--title-fs, 32px);
  line-height: 100%;
  text-transform: uppercase;
}

.hero .title {
  font-size: var(--h1-fs, 64px);
  line-height: 150%;
  text-transform: capitalize;
  text-shadow: 2px 0 12px var(--light-accent-color, #d5b87c);
}
