.main {
  block-size: calc(100vh - var(--heading-block-size, 72px));
  overflow: auto;
  scroll-snap-type: y mandatory;
}

@media (width < 920px) {
  .main {
    block-size: calc(100dvh - var(--heading-block-size, 72px));
  }
}
