.footer__sponsors-wrapper {
  display: flex;
  flex-direction: column;
  justify-self: start;
  align-items: center;
  font-weight: 300;
  font-size: var(--main-fs, 16px);
}

.footer__sponsors-wrapper a {
  text-decoration: underline;
}

.footer__sponsors-wrapper a:hover {
  color: var(--dark-accent-color, #1b6e6d);
}

.footer__sponsors-wrapper a:focus {
  outline: none;
}

.footer__sponsors-wrapper a:focus-visible {
  outline: 1px solid var(--text-color, #c2c6dd);
  outline-offset: 2px;
}

@media (width < 920px) {
  
  .footer__sponsors-wrapper {
    grid-row: 2;
    justify-self: inherit;
  }
}

@media (width < 530px) {
  
  .footer__sponsors-wrapper {
    grid-row: 3 !important;
  }
}

@media (prefers-reduced-motion: no-preference) {
  
  .footer__sponsors-wrapper a {
    transition: color .3s;
  }
}
