.footer__sponsors-wrapper {
  display: flex;
  flex-direction: column;
  justify-self: start;
  align-items: center;
  font-weight: 300;
  font-size: var(--main-fs, 16px);
}

@media (width < 920px) {
  
  .footer__sponsors-wrapper {
    grid-row: 2;
    justify-self: inherit;
  }
}

@media (width < 530px) {
  
  .footer__sponsors-wrapper {
    grid-row: 3 !important;
  }
}
