.footer {
  position: relative;
  background-color: var(--bg-color, #02030e);
  scroll-snap-align: start;
}

.footer > .content-wrapper {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;
  padding-block: var(--content-wrapper-gap, 20px);
}

.footer::after {
  content: '';
  position: absolute;
  border-block-start: 1px solid var(--light-accent-color, #d5b87c);
  box-shadow: 0 -2px 6px 0 var(--light-accent-color, #d5b87c);
  inset-inline-start: 0;
  inset-block-start: 0;
  inline-size: 100%;
}

@media (width < 920px) {
  .footer > .content-wrapper {
    grid-template-columns: min-content 1fr;
    justify-items: center;
    gap: var(--content-wrapper-gap, 20px);
  }
}

@media (width < 530px) {
  .footer > .content-wrapper {
    grid-template-columns: 1fr !important;
  }
}
