extends ../layouts/default.pug

block main-content
  include ../blocks/hero/hero.pug
  include ../blocks/about/about.pug
  include ../blocks/skills/skills.pug
  include ../blocks/projects/projects.pug
  include ../blocks/contact/contact.pug
