extends ../layouts/default.pug

block main-content
  include ../components/hero/hero.pug
  include ../components/about/about.pug
  include ../components/skills/skills.pug
  include ../components/projects/projects.pug
  include ../components/contact/contact.pug
