.logo {
  inline-size: 270px;
  block-size: 28px;
}

.logo p {
  font-size: 24px;
  letter-spacing: 2px;
  text-align: center;
  text-transform: uppercase;
  cursor: default;
}

@media (width < 920px) {

  .logo {
    grid-column: 1;
    grid-row: 1;
  }
}
