.header {
  position: relative;
  position: sticky;
  inset: 0;
  z-index: 1;
  background-color: var(--bg-color, #02030e);
}

.header {
  .content-wrapper {
    display: grid;
    grid-template-columns: min-content 1fr;
    align-items: center;
    padding-block: var(--content-wrapper-gap, 20px);
  }
}
