.contacts__list {
  display: flex;
  gap: var(--s-gap, 10px);
}

.contact .contacts__list {
  flex-direction: column;
}

@media (width < 920px) {
  .footer .contacts__list {
    gap: var(--m-gap, 20px);
  }
}
