.contacts__list-item {
  block-size: var(--svg-logo-size, 32px);
  inline-size: var(--svg-logo-size, 32px);
}

.contacts__list-item img {
  block-size: 100%;
  inline-size: 100%;
}

.contact .contacts__list-item a {
  display: flex;
  align-items: center;
  gap: var(--s-gap, 10px);
}

.contacts__list-item:hover .link {
    color: var(--dark-accent-color, #1b6e6d);
  }

.contacts__list-item:hover .link::after {
  inline-size: 100%;
}

.contacts__list-item:hover img {
  rotate: 360deg;
}

.contacts__list-item a:focus-visible {
  outline: 1px solid var(--text-color, #c2c6dd);
  outline-offset: 2px;
}

@media (prefers-reduced-motion: no-preference) {
  
  .contacts__list-item img {
    transition: rotate 0.6s;
  }
}
