.animated-wrapper__text {
  overflow: hidden;
  color: var(--dark-accent-color, #1b6e6d);
  font-family: var(--font-monospace, 'JetBrains Mono'), monospace;
  font-weight: 400;
  font-size: var(--accent-text-fs, 24px);
  line-height: 100%;
  text-transform: uppercase;
  max-inline-size: var(--animated-text-inline-size, 21.2ch);
  white-space: nowrap;
}

.animated-wrapper__animation--first {
  --animated-text-inline-size: 21.2ch;
}

.animated-wrapper__animation--second {
  --animated-text-inline-size: 10.2ch;
}

.animated-wrapper__animation--third {
  --animated-text-inline-size: 19.2ch;
}

@keyframes typing {
  0% {
    inline-size: 0;
  }
  50%, 75% {
    inline-size: var(--animated-text-inline-size, 21.2ch);
  }
  100% {
    inline-size: 0;
  }
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}

@media (prefers-reduced-motion: no-preference) {

  .animated-wrapper__text {
    border-inline-end: 2px solid currentColor;
    animation: 
      typing 4s steps(var(--animation-steps, 21)) infinite, 
      blink 0.5s step-end infinite alternate;
  }

  .animated-wrapper__animation--first {
    --animation-steps: 21;
  }

  .animated-wrapper__animation--second {
    --animation-steps: 10;
  }

  .animated-wrapper__animation--third {
    --animation-steps: 19;
  }
}
