.menu__button {
  font-size: var(--menu-button-fs, 16px);
  line-height: 100%;
  text-transform: uppercase;
  cursor: pointer;
}

.menu__button:hover {
  color: var(--dark-accent-color, #1b6e6d);
}

.menu__button:focus {
  outline: none;
}

.menu__button:focus-visible {
  outline: 1px solid var(--text-color, #c2c6dd);
  outline-offset: 2px;
}
