.menu__list-item {
  /* counter-increment: menu-index 1; */
}

.menu__list-item:not(:last-child)::after {
  content: '';
  margin-inline-start: var(--m-gap, 20px);
  border-inline-end: 2px solid currentColor;
}

/* .menu__list-item::before {
  content: counter(menu-index) '.';
  color: var(--accent-color, #d88c00);
  margin-inline-end: 5px;
} */

@media (width < 920px) {
  .menu__list-item::after {
    display: none;
  }
}

@media (prefers-reduced-motion: no-preference) {
  .menu__list-item button {
    transition: color 0.3s;
  }
}
