.menu__list {
  display: flex;
  align-items: center;
  gap: var(--m-gap, 20px);
  /* counter-reset: menu-index -1; */
}

@media (width < 920px) {
  .menu__list {
    flex-direction: column;
    align-items: start;
    gap: var(--l-gap, 30px);
  }
}
