.menu-button {
  display: none;
  justify-self: end;
  cursor: pointer;
  block-size: 28px;
  inline-size: 28px;
  border: none;
  background-color: transparent;
}

.menu-button img {
  block-size: 100%;
  inline-size: 100%;
}

@media (width < 920px) {
  
  .menu-button {
    display: block;
  }
}
