.projects__list {
  display: grid;
  grid-template-columns: repeat(3, calc(50% - 10px));
  gap: var(--m-gap, 20px);
  padding: var(--xs-gap, 5px);
  overflow-x: auto;
}

@media (width < 920px) {
  
  .projects__list {
    grid-template-columns: repeat(3, calc(100%));
    scroll-snap-type: x mandatory;
  }
}
