.projects__list-item a:focus {
  outline: none;
}

.projects__list-item a:focus-visible .project {
  outline: 1px solid var(--text-color, #c2c6dd);
  outline-offset: 2px;
}

@media (width < 920px) {
  .projects__list-item {
    scroll-snap-align: center;
  }
}
