.contacts__list {
  display: flex;
  gap: var(--s-gap, 10px);

  &-item {
    block-size: var(--svg-logo-size, 32px);
    inline-size: var(--svg-logo-size, 32px);

    img {
      block-size: 100%;
      inline-size: 100%;
    }

    a {
      &:focus {
        outline: none;
      }

      &:focus-visible {
        outline: 1px solid var(--text-color, #c2c6dd);
        outline-offset: 2px;
      }
    }

    &:hover {
      .link {
        color: var(--dark-accent-color, #1b6e6d);
      }

      .link::after {
        inline-size: 100%;
      }

      img {
        rotate: 360deg;
      }
    }
  }
}

.contact {
  .contacts__list {
    flex-direction: column;

    &-item {
      a {
        display: flex;
        align-items: center;
        gap: var(--s-gap, 10px);
      }
    }
  }
}

@media (width < $breakpoint-tablet) {
  .footer {
    .contacts__list {
      gap: var(--m-gap, 20px);
    }
  }
}

@media (prefers-reduced-motion: no-preference) {
  .contacts__list-item {
    img {
      transition: rotate 0.6s ease-in-out;
    }
  }
}
