.form__textfield {
  border: 1px solid var(--text-color, #c2c6dd);
  border-radius: 10px;
  padding: var(--s-gap);
  color: var(--text-color, #c2c6dd);
  font-weight: inherit;
  font-size: inherit;
  background-color: transparent;
  caret-color: var(--text-color, #c2c6dd);
}

textarea.form__textfield {
  resize: none;
}

.form__textfield:focus {
  outline: none;
}

.form__textfield:focus-visible {
  border-color: var(--dark-accent-color, #1b6e6d);
  box-shadow: 4px 0 16px 0 var(--dark-accent-color, #1b6e6d);
}
