-
  var formData = [
    {
      'type': 'email',
      'name': 'email',
      'label': 'Электронная почта'
    },
    {
      'type': 'text',
      'name': 'theme',
      'label': 'Тема'
    },
    {
      'type': 'textarea',
      'name': 'body',
      'label': 'Сообщение'
    }
  ]   

form.form(action='https://api.web3forms.com/submit', method='POST')
  input(
    type='hidden',
    name='access_key',
    value='844b0d6a-a409-4705-9d2c-ef3f2f96bfdb'
  )
  include __textfield.pug
  each item in formData
    +form__textfield(item.type, item.name, item.label)
  button.button.button--filled(type='submit') Отправить
