.link {
  display: inline-block;

  &::after {
    content: '';
    display: block;
    inline-size: 0;
    block-size: 1px;
    background-color: currentColor;
    margin-block-start: -3px;
  }

  &:hover {
    color: var(--dark-accent-color, #1b6e6d);

    &::after {
      inline-size: 100%;
    }
  }

  &:focus {
    outline: none;
  }

  &:focus-visible {
    outline: 1px solid var(--text-color, #c2c6dd);
    outline-offset: 2px;
  }
}

@media (prefers-reduced-motion: no-preference) {
  .link {
    transition: color 0.3s;

    &::after {
      transition:
        width 0.5s,
        background-color 0.3s;
    }
  }
}
